@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    font-family: 'Poppins', sans-serif;

}

input::placeholder {
    color: red;
    opacity: 1;
    /* Firefox */
}

@keyframes bg-animi {
    0% {
        background-image: linear-gradient(rgba(0, 0, 0, 0.558), rgba(0, 0, 0, 0.575)), url("images/heading-bg/img-1.jpg");

    }


    50% {
        background-image: linear-gradient(rgba(0, 0, 0, 0.558), rgba(0, 0, 0, 0.575)), url("images/heading-bg/img-2.jpg");

    }




    100% {
        background-image: linear-gradient(rgba(0, 0, 0, 0.558), rgba(0, 0, 0, 0.575)), url("images/heading-bg/img-3.jpg");

    }
}

.navbar {

    background-color: #2b2024c4;
}

header {


    background-image: linear-gradient(rgba(0, 0, 0, 0.558), rgba(0, 0, 0, 0.575)), url("images/heading-bg/img-1.jpg");
    animation: bg-animi 10s linear infinite alternate;


    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.heading-article {
    min-height: 620px;
}

.heading-article {
    color: white;
    text-align: center;

}

.article-title {
    background-image: linear-gradient(rgba(107, 42, 42, 0.198), rgba(117, 50, 50, 0.273));

}